APP_NAME=DUFUTH SmartCare API
ENVIRONMENT=development
DEBUG=true
API_V1_PREFIX=/api/v1

FIREBASE_PROJECT_ID=your-firebase-project-id
FIREBASE_CREDENTIALS_PATH=
FIREBASE_AUTH_REQUIRED=false
USE_FIRESTORE=false

FCM_ENABLED=false
FIRESTORE_USERS_COLLECTION=users
FIRESTORE_PATIENTS_COLLECTION=patient_profiles
FIRESTORE_DOCTORS_COLLECTION=doctor_profiles
FIRESTORE_APPOINTMENTS_COLLECTION=appointments
FIRESTORE_DEVICE_TOKENS_COLLECTION=device_tokens
